body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
  margin: 0;
  padding: 0;
}
.mainBodyGrad{
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
          -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
          -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
          -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
          -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
          -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
          -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
          -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
          -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
          -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
          -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
          linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
          linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
          linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
          linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
          linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-size: 20px 20px;
  background-color: #131313;
  -pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px,
         linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px,
         linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px,
         linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px,
         linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px,
         linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
         0 0 / 20px #131313;
  behavior: url(/pie/PIE.htc);
        color: #fff;
        min-height: 850px;
}
.appBox {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.headerBox {
    font-weight: bold;
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    border-bottom: 1px solid #666;
    overflow: hidden;
}
.logo {
    display: block;
    width: 50%
}
.alignLeft {
    float: left;
}
.rightAlign {
    float: right;
}
.blueTxt{
    color: #185875;
}
.boldTxt{
    font-weight: bold;
}
.whiteTxt{
    color: #FFF;
}
.dataRetriveBtn {
    padding-right: 25px;
    padding-top: 35px;
    width: 40%
}
.dataRetriveBtn a{
    text-decoration: none;
}
.dataRetriveBtn a:hover{
    text-decoration: underline;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#showResourcesBox{
    width: 100%;
    margin-top: 25px;
}
#showResourcesBox .container{
    width: 96% !important;
}
h1 {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
}
h2 {
    font-size:1em; 
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
    width: 600px;
}
h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}
.visibaleNone{
  display: none;
}
.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}
.container td, .container th {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left:2%;  
}
.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #FFFFFF;
}
.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}
/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}
/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}
.container th {
    background-color: #1F2739;
    color: #FFFFFF;
}
.container td:first-child {color: #FB667A;}
.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}
.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}
@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) { display: none; }
}