<!doctype html>
<html>
<head>
<title>Jenkins Dashboard</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styleJD.css">
  <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/getDataJD.js"></script>
</head>
<body>
<div class="appBox mainBodyGrad">
  <div class="headerBox">
    <div class="logo alignLeft">
      <h1>
        <span class="blueTxt boldTxt">&lt;<img src="../images/jenkins_icon_48.png" />&gt;</span>
        <span class="boldTxt">Jenkins</span>
        <span class="whiteTxt">Dashboard</span>
      </h1>
    </div>
    <div class="dataRetriveBtn rightAlign">
      <a href="#" class="btn btn-primary" id="retrieve-resources">Retrieve Environment Details</a>
    </div>
  </div>
  <div class="timestamp">Last Refersh Time ::</div>
  <div id="showResourcesBox" class="container"></div>

  <div class="footer">
    <h2>Created with love by <a href="http://gaurav.com" target="_blank">Gaurav/ Sandeep/ Haseeb/ Swetali</a></h2>
  </div>
</div>
</body>
</html>
