<!doctype html>
<html>
<head>
<title>Getting Started Extension's Popup</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/main.css">
  <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/getData.js"></script>
</head>
<body>
<div class="appBox mainBodyGrad">
  <div class="headerBox">
    <div class="logo alignLeft">
      <h1>
        <span class="blueTxt">&lt;</span>
        <span class="imgBox"><img src="../images/jenkins_icon_48.png" /></span>
        <span class="boldTxt">Jenkins</span>
        <span class="blueTxt">&gt;</span>
        <span class="whiteTxt">Dashboard</span>
      </h1>
    </div>
    <div class="dataRetriveBtn rightAlign">
      <a href="#" class="btn btn-primary" id="retrieve-resources">Retrieve Environment Details List</a>
    </div>
  </div>
  <div id="showResourcesBox"></div>
<div id="container" class="visibaleNone">
  <select id="ddlEnv">
    <option selected disabled hidden value=''></option>
    <option value="json_141">10.31.40.141</option>
    <option value="json_142">10.31.40.142</option>
    <option value="json_137">10.31.40.137</option>
    <option value="json_138">10.31.40.138</option>
    <option value="json_38">PROD</option>
  </select>
</div>
<h2>Created with love by <a href="http://gaurav.com" target="_blank">Gaurav/ Sandeep/ Haseeb/ Swetali</a></h2>
</div>
</body>
</html>
